.nav {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 12px;
  position: relative;
  align-items: center;
}
.menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.menu-icon {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  margin-right: 3px;
  color: #4070f4;
}

.mobile-menu {
  display: none;
}

.web-menu {
  display: flex;
}

.nav .logo {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  color: #4070f4;
}
@media only screen and (max-width: 720px) {
  .mobile-menu {
    display: flex;
  }
  .web-menu {
    display: none;
  }
  .nav .logo {
    font-size: 0.9rem;
    letter-spacing: 1px;
  }
}
